@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #21f345;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #e61d1d;
	transform: translate(80px, 40px);
	background-image: linear-gradient(45deg, #ffffff 13.64%, #e61d1d 13.64%, #e61d1d 50%, #ffffff 50%, #ffffff 63.64%, #e61d1d 63.64%, #e61d1d 100%);
	background-size: 15.56px 15.56px;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
	font-family: "Font Awesome 5 Free";
	content: "\f130";
	font-weight: 900;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: #2191f3;
	background: #c5c5c5;
}

input + .slider:before {
	font-family: "Font Awesome 5 Free";
	content: "\f131";
	font-weight: 900;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: #ffeb3b;
	background-image: linear-gradient(45deg, #ffffff 13.64%, #c5c5c5 13.64%, #c5c5c5 50%, #ffffff 50%, #ffffff 63.64%, #c5c5c5 63.64%, #c5c5c5 100%);
	background-size: 10px 10px;
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
